.SpriteItem canvas {
    max-width: 90%;
    margin: 0;
    grid-column: 1/3;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5em;
    margin: 0.5em;
    place-items: center;
}

.grid div {
    max-width: 100px;
}
