div.Read {
    display: grid;
    grid-template-columns: 1fr min(50vw, 360px) min(50vw, 360px) 1fr;
    justify-content: center;
    align-items: stretch;
}

div.Read > * {
    grid-column: 2/4;
}

div.Read > :global(*.full) {
    grid-column: 1/5;
}

div.Read > :global(*.left) {
    grid-column: 1/3;
    place-content: start stretch;
}

div.Read > :global(*.right) {
    grid-column: 3/5;
    place-content: start stretch;
}

@media (max-width: 800px) {
    div.Read > *,
    div.Read > :global(*.left),
    div.Read > :global(*.right) {
        grid-column: 1/5;
    }
}
